header
{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    z-index: 1;
}

header ul li {
    padding: 1rem 2rem;
    cursor: pointer;
}
main {
    margin-top: 200px;
}